#character-page {
  > .row {
    margin-bottom: 1rem;
  }

  .character-stats {
    .container > .row:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  @include media-breakpoint-down(sm) {
    .attribute-stats > .col:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
