#home-page {
  > div:nth-child(2n-1) {
    color: var(--bs-gray-400);
  }

  > div:nth-child(2n) {
    background-color: var(--bs-gray-400);
  }

  > div {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  @include media-breakpoint-up(sm) {
    .row {
      width: 75%;
    }
  }
}
